@import "../../sass/values";
.UserDashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 85vh;
  height: 100%;
  width: 100%;
  background: $dashboard-background;
  padding: 30px;
  gap: 30px;
  &__search {
      display: flex;
      align-items: center;
      width: 50%;
      @media screen and (max-width: 928px)  {
        width: 90%;
      }
      height: 50px;
  }
  &__heading {
    font-size: 24px;
    font-weight: 500;
    color: $sidebar-link-text;
  }
  &__stats {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    gap: 30px;
    &:active{
      cursor: grab;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.Input {
  width: 100%;
  --border-top-left-radius: 5px;
  --border-top-right-radius: 5px;
  --border-bottom-left-radius: 5px;
  --border-bottom-right-radius: 5px;
  border: $input-border;
  padding: 15px 30px;
  border-top-left-radius: var(--border-top-left-radius);
  border-top-right-radius: var(--border-top-right-radius);
  border-bottom-left-radius: var(--border-bottom-left-radius);
  border-bottom-right-radius: var(--border-bottom-right-radius);

  outline: none;

  &:focus {
    border: $input-focus-border;
    outline: none;
  }

  &__error {
    color: $error;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1.6px;
    transition: all 500ms ease-in-out;
    margin-top: 15px;
  }
    &__searchbar {
      display: flex;
      align-items: center;
      background-color: $log-in-button;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      padding-inline: 15px;
      height: 100%;
      margin-left: -60px;
      padding: 20px;
  
      &__icon {
        width: auto;
      }
    }
}